In [30]:
# Note: The data below is the one you retrieved in previous part and
#it is used here to run the rest of the analysis.
import pandas as pd

apt_df = pd.read_csv('apt_df.csv')
apt_df = apt_df.set_index('timestamp')
returns =  pd.read_csv('returns.csv')
returns = returns.set_index('timestamp')
risk_free_reindexed = pd.read_csv('risk_free_reindexed.csv')
risk_free_reindexed = risk_free_reindexed.set_index('timestamp')
risk_free = risk_free_reindexed.copy()

In [31]:
cols = returns.columns
for i in cols:
    returns["excess_return_"+str(i)] = returns[i] - risk_free['0']

In [32]:
returns.head()

,TWTR,FB,SPY,excess_return_TWTR,excess_return_FB,excess_return_SPY
timestamp,,,,,,
2015-02-27,0.281108,0.040311,0.056205,0.262775,0.021978,0.037871
2015-03-31,0.041597,0.041092,-0.020080,0.020764,0.020258,-0.040913
2015-04-30,-0.222045,-0.041902,0.009834,-0.241211,-0.061069,-0.009333
2015-05-29,-0.058778,0.005332,0.012856,-0.078778,-0.014668,-0.007144
2015-06-30,-0.012272,0.083028,-0.024865,-0.035605,0.059695,-0.048198

In [ ]:
returns.to_csv('returns.csv')

In [33]:
df_merged = pd.concat([returns.iloc[:, 3:], apt_df.loc[:,['inf_rate', 'log_ind']]],
                      axis=1, ignore_index=True)
df_merged.rename(columns={0:'excess_return_TWTR',
                        1:'excess_return_FB',
                        2:'excess_return_SPY',
                        3:'inf_rate',
                        4:'log_ind'}, inplace=True)

In [34]:
df_merged.head()

,excess_return_TWTR,excess_return_FB,excess_return_SPY,inf_rate,log_ind
timestamp,,,,,
2015-02-27,0.262775,0.021978,0.037871,0.003891,4.623938
2015-03-31,0.020764,0.020258,-0.040913,0.004887,4.617947
2015-04-30,-0.241211,-0.061069,-0.009333,0.002175,4.613543
2015-05-29,-0.078778,-0.014668,-0.007144,0.004177,4.610220
2015-06-30,-0.035605,0.059695,-0.048198,0.003744,4.616932

In [35]:
df_merged.to_csv('df_merged.csv')